{:paths ["src"]
 :deps {org.clojure/clojure       {:mvn/version "1.10.0-alpha4"}
        org.clojure/clojurescript {:mvn/version "1.10.238"}}

 :aliases {:test
           {:extra-paths ["test"]
            :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
            :extra-deps  {healthsamurai/matcho {:mvn/version "0.3.7"}}}

           :kaocha
           {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.0-612"}}
            :extra-paths ["test"]
            :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
            :main-opts   ["-m" "kaocha.runner" "--config-file" "test/test.edn"]}

           :ci
           {:main-opts   ["-m" "kaocha.runner" "--profile" ":ci" "--config-file" "test/test.edn"]}}}
